// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  margin-bottom: 0rem;
  padding-top: 0.3rem;
  padding-bottom: 0.4rem;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: $gray-4;


  a {
    color: inherit;
    vertical-align: 20%;

     &:hover,
     &:focus {
       text-decoration: none;
       color: #4D74B3;
     }
}


  small {
    vertical-align: 30%;
    margin-right: 2%;
    margin-left: 0.2rem;
    font-size: 65%;
    font-weight: 400;
    opacity: .5;
    color: $blue;
  }

  nv {
    vertical-align: 2%;
    font-size: 70%;
    font-weight: 400;
    opacity: .9;
    margin-right: 4%;
    margin-left: 4%;
  }

}

.logo {
    display: inline-block;
    margin: 0rem;
}  
