#well-viz, #rwh-viz{
	border-style: solid;
	border-width: 1px;
	background-color: #f2f2f2;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Lato', sans-serif;
}
#well-viz-charts{
	margin-top: 5px;
}

.well{
	stroke: black;
	stroke-width: 0.4;
	-moz-transition: fill 0.3s;
	-o-transition: fill 0.3s;
	-webkit-transition: fill 0.3s;
	transition: fill 0.5s;
}

.buttons{
	position: absolute;
	margin-top: 10px;
	margin-left: 15px;
	width:580px;
}

.bar{
	cursor: pointer;
}

.buttonWells, .buttonRWH{
	display: inline;
	font-size: 15px;
	color: black;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
	padding: 6px;
	margin: 1px;
	background-color: #DDDDDD;
	opacity: 0.95;
	border-style: solid;
	border-width: 1px;
	-webkit-box-shadow: 2px 2px 2px;
	-moz-box-shadow: 2px 2px 2px;
	box-shadow: 2px 2px 2px;
	border-radius: 5px;
	cursor: pointer;
}

button:focus {outline:0;}

#yearCount, #yearCountRWH{
	display: inline;
	position: absolute;
	right:30px;
	font-weight: bold;
	color: black;
	background-color: #DDDDDD;
	border-style: solid;
	border-width: 1px;
	padding: 4px;
	margin: 0px;
}

#legend, #legendRWH{
	position: absolute;
	margin-top: 52px;
	margin-left: 16px;
	background-color: rgba(220, 220, 217, 0.9);
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
}

.legendLanduse{
	position: absolute;
	margin-left: 16px;
	background-color: rgba(220, 220, 217, 0.9);
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	font-size: 12px;
	text-align: ;
}

#landuse1{
 	margin-top: 322px;
}

#landuse2{
 	margin-top: 297px;
}

#landuseCheckBox{
	position: absolute;
	margin-left: 10px;
	margin-top: 5px;
}

#landuseCheck{
	cursor: pointer;
}

#col{
	width:100%;
}


#slider-con-wells {
	margin-left: 10px;
	margin-top:15px;
	margin-bottom: 20px;
	width: 485px;
	display: inline-block;
	vertical-align: middle;
}

.d3-slider-handle{
	cursor: pointer;
}

.playPause {
	margin-bottom: 5px;
	margin-right: 10px;
	margin-top: 8px;
	margin-left: 10px;
	display: inline-block;
	vertical-align: middle;
}

.glyphicon {
	font-size: 25px;
	cursor: pointer;
}

.btn{
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 8px;
}


#well-viz-map,
#well-viz-charts,
#rwh-viz-charts,
#rwh-viz-map{
	display: inline-block;
}

#well-viz-map,
#rwh-viz-map{
	width: 580px;
}

#rwh-viz .axis text {
	font-family: 'Lato', sans-serif;
	font-size: 11px;
}

.mapBorder{
	stroke: black;
	fill: none;
	stroke-width: 1.2;
}

.charts{
	display: float;
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
	stroke-width: 1.1;
	shape-rendering: auto;
}

.demAxis path{
	stroke-width: 0;
}

.axis text {
	font-family: 'Lato', sans-serif;
	font-size: 10px;
}

.vis-instructions{
	font-size: 14px;
	font-weight: bold;
	margin-left: 10px;
	margin-bottom: 5px;
	color: black;
}

.chartline{
	fill: none;
	stroke: #6A7368;
	stroke-width: 1.5;
	shape-rendering: auto;
}

#title-con{
	min-height: 640px;
}

#title{
	min-width: 100%;
	min-height: 100%;
	margin-bottom: 20px;
}

#title-img{
	position: absolute;
    left: -9999px;
    right: -9999px;
    margin: auto;
    align-content: center;
}

#title-text{
	position: absolute;
	top: 0px;
	left: -9999px;
    right: -9999px;
	margin: auto;
	line-height: 1;
	font-weight: bold;
	font-size: 2.2rem;
	text-align: center;
}

#slider-con-rwh{
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 30px;
	margin-top: 20px;
	width: 540px;
	display: inline-block;
	vertical-align: middle;
}

#rainfall-vis{
	border-style: solid;
	border-width: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Lato', sans-serif; 
}

#rainfall-charts{
	width: 930px;
	height: 410px;
}

.box {
  font-family: 'lato', sans-serif;
  font-size: 10px;
}

.box line,
.box rect,
.box circle {
  fill: #8CCDD3;
  stroke: #000;
  stroke-width: 1px;
}

.box .center {
  stroke-dasharray: 3,3;
}

.box .outlier {
  fill: none;
  stroke: #000;
}

.box .zoom{
	fill: #DDDDDD;
	cursor: pointer;
}

.zoomButton{
	position: absolute;
	margin-top: 20px;
	margin-left: 40px;
}

#rainfall-choices{
	background-color: #e8e8e8;
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #a8a8a8;
	padding: 0px;
}

.rainfall-selection{
	position: relative;
	float: left;
	width: 30%;
	padding-right: 10px;
	padding-left: 10px;
	list-style-type: none;
	background-color: transparent;
	border-right: 1px solid #a8a8a8;
	text-align: center;
	cursor: pointer;
}

#rainfall-selection-right{
	border-right: 0px;
}

#rainfall-mon-box .axis text {
	font-family: 'Lato', sans-serif;
	font-size: 13px;
}

#rainfall-mon-box .y .tick line{
	stroke: #c3c3c3;
	stroke-width: 1.1;
	stroke-dasharray: 5, 5;
}
