<!DOCTYPE html>
<html lang="en">

  {% include head-homepage.html %}
  <body>

   <div class="container-large">
    <div class="nav">
     <div class="container">
      <header class="masthead">
        <h2 class="masthead-title">
          <img class="logo" src="/assets/images/logo-small.png">
          <a class="h-links" href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
           <small>{{ site.tagline }}</small>
           {% for page in site.pages_list %}
             <nv><a class="h-links" href="{{ page[1]  }}">{{ page[0] }}</a></nv>
           {% endfor %}
        </h2>
      </header>
      </div>
     </div>

     <main>
        {{ content }}
     </main>

    </div>
    {% include google_analytics.html %}
  </body>
</html>
